{
  "version": 3,
  "configurePresets": [
    {
      "name": "debug",
      "inherits": "base",
      "cacheVariables": {
        "LIBADALANG_DIR": "/path/to/libadalang/build/or/install/dir",
        "MLIR_DIR": "/usr/lib/llvm-21/lib/cmake/mlir",
        "CMAKE_C_COMPILER": "clang-21",
        "CMAKE_CXX_COMPILER": "clang++-21"
      }
    },
    {
      "name": "coverage",
      "inherits": "debug",
      "binaryDir": "${sourceDir}/build-cov",
      "cacheVariables": {
        "LALVM_COVERAGE": "ON"
      }
    },
    {
      "name": "sanitizers",
      "inherits": "debug",
      "binaryDir": "${sourceDir}/build-san",
      "cacheVariables": {
        "LLVM_USE_SANITIZER": "Address;Undefined"
      }
    }
  ],
  "buildPresets": [
    {
      "name": "debug",
      "configurePreset": "debug"
    },
    {
      "name": "coverage",
      "configurePreset": "coverage"
    },
    {
      "name": "sanitizers",
      "configurePreset": "sanitizers"
    }
  ],
  "testPresets": [
    {
      "name": "debug",
      "configurePreset": "debug",
      "output": {"outputOnFailure": true}
    }
  ]
}
